.mat-form-field{
    display: block;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

.mat-checkbox{
    margin-top: 1vh;
    margin-bottom: 3vh;
}

#ocupado{
    display: flex;
    justify-content: end;
}