<form (submit)="enviarDatos()">
    <h1 id="title">Ciudad</h1>
    <mat-form-field class="widthInput" appearance="legacy">
        <mat-label>Denominacion</mat-label>
        <input [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" matInput placeholder="Denominacion...">
        <mat-icon matSuffix [color]="">abc</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Pais</mat-label>
        <mat-select [(value)]="paisId">
            <mat-option value="0">Seleccionar</mat-option>
            <mat-option *ngFor="let p of paisesService.dataAll$ | async" value="{{p?.id}}">{{p?.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div id="buttons">
        <button type="submit"  mat-raised-button [color]="id == '0' ? 'primary' : 'accent'">{{id == '0' ? 'Crear' : 'Modificar'}}</button>
        <button type="reset" mat-raised-button color="warn">Reiniciar</button>
    </div>
</form>