:host{
    display: flex;
}

.mat-table{
    width: 50vw;
}

td, th{
    text-align: center !important;
}

#vehiculos-titulo, #tipoVehiculos-titulo{
    display: flex;
}

#vehiculos-titulo button, #tipoVehiculos-titulo button{
    margin-left: 1vw;
    margin-bottom: 1vw;
}

#deleteIcon, #modifyIcon{
    font-weight: bold;
    transition: font-size 0.3s;
    transition: font-size 0.3s;
}

#deleteIcon{
    color: rgba(255,0,0,0.5);
}

#modifyIcon{
    color: rgba(0,0,255,0.5)
}

#deleteIcon:hover, #modifyIcon:hover{
    font-size: 1.6rem;
}

#deleteIcon:hover{color: rgba(255,0,0,1);}
#modifyIcon:hover{color: rgba(0,0,255,1);}


#deleteIconClick, #modifyIconClick{
    font-size: 0.5rem;
}

#tables{
    display: flex;
    width: 80vw;
}

#table{
    margin: 1vw;
}

#tipoVehiculosTable{
    width: 30vw;
}

#tipoVehiculoContainer{
    margin-top: 2vh;
}