<form class="mat-elevation-z8" id="formulario" (submit)="submitData($event)" (reset)="reiniciar()">
    <h3 id="titulo">Filtrar</h3>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="picker" [disabled]="formData.isRango == false">
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaInicial" matStartDate placeholder="Fecha inicial">
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaFinal" matEndDate placeholder="Fecha final">
            </mat-date-range-input>
            <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-checkbox name="formData.isRango" [(ngModel)]="formData.isRango" labelPosition="before">
        </mat-checkbox>
    </div>
    <div>
        <mat-form-field class="widthInput" appearance="legacy">
            <mat-label>Tipo de vehiculo</mat-label>
            <input [(ngModel)]="formData.tipoVehiculo" [ngModelOptions]="{standalone: true}" matInput placeholder="Tipo de vehiculo...">
            <mat-icon matSuffix [color]="formData.isTipo ? 'accent' : ''">directions_car</mat-icon>
        </mat-form-field>
        <mat-checkbox name="selTipo" [(ngModel)]="formData.isTipo" labelPosition="before">
        </mat-checkbox>
    </div>
    <div>
        <mat-form-field class="widthInput" appearance="legacy">
            <mat-label>Destino</mat-label>
            <input [(ngModel)]="formData.destino" [ngModelOptions]="{standalone: true}" matInput placeholder="Destino...">
            <mat-icon matSuffix [color]="formData.isDestino ? 'accent' : ''">public</mat-icon>
        </mat-form-field>
        <mat-checkbox name="selDestino" [(ngModel)]="formData.isDestino" labelPosition="before">
        </mat-checkbox>
    </div>
    <div id="buttons">
        <button type="submit"  mat-raised-button color="primary">Buscar</button>
        <button type="reset" mat-raised-button color="accent">Reiniciar</button>
    </div>
</form>