<form id="formulario">
    <h1>Programar Viaje</h1>
    <mat-form-field appearance="legacy">
        <mat-label>Pais de Origen</mat-label>
        <mat-select (selectionChange)="ePaisOrigen$.next($event.value)">
            <mat-option *ngFor="let p of paisesService.paises$ | async" value="{{p?.id}}">{{p?.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Pais de Destino</mat-label>
        <mat-select (selectionChange)="ePaisDestino$.next($event.value)">
            <mat-option *ngFor="let p of paisesService.paises$ | async" value="{{p?.id}}">{{p?.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>   
    <mat-form-field appearance="legacy">
        <mat-label>Ciudad de Origen</mat-label>
        <mat-select>
            <mat-option *ngFor="let c of ciudadesOrigen$ | async" value="{{c?.id}}">{{c?.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>   
    <mat-form-field appearance="legacy">
        <mat-label>Ciudad de Destino</mat-label>
        <mat-select>
            <mat-option *ngFor="let c of ciudadesDestino$ | async" value="{{c?.id}}">{{c?.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>         
</form> 